body {
  background: #6d7178;
}

h1 {
  color: #8f6898;
}

.row {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.column {
    display:flex;
    flex-direction: column;
}

.grid {
    display:grid;
    width:100%;
    grid-template-columns:
    repeat(12, 1fr);
}